body {
  background-color: #fcd29b;
  font-family: "Times New Roman", Times, serif;
}

h1 {
  text-align: center;
  margin-bottom: 40px;
  font-size: 3rem;
  color: #1d1d1d;
}

.buttons {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-bottom: 20px;
}

.buttons button {
  background-color: #ffb84d;
  border: none;
  padding: 10px 16px;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
}

.buttons button:hover {
  background-color: #ff9f00;
}

.container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  padding: 20px;
}

.card {
  background-color: #ffe0b8;
  border-radius: 10px;
  padding: 16px;
  width: 250px;
  text-align: center;
}

.card img {
  width: 100%;
  border-radius: 8px;
}

.add-btn {
  background-color: #ffa500;
  border: none;
  padding: 8px;
  border-radius: 5px;
  cursor: pointer;
  color: white;
  font-weight: bold;
  margin-top: 8px;
}

.add-btn:hover {
  background-color: #ff8000;
}

.cart {
  background-color: #ffe0b8;
  margin: 30px auto;
  padding: 20px;
  border-radius: 10px;
  width: 90%;
  max-width: 600px;
}
